.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-center {
  justify-content: center;
}

.text-error {
  color: #dc3545 !important;
}

.text-warning {
  color: #f0ac1a !important;
}

.text-success {
  color: #28a745 !important;
}
