
<div class="task-list">
  <div class="container-content-header flex flex-col">
    <div class="container-header-title flex items-center mb-2">
      <i class="pi pi-list-check mr-3"></i>
      <span>Task list</span>
    </div>

    <app-task-list-filter class="mt-5" [datas]="defaultTable" (onComplete)="onCompleteFilter($event)"></app-task-list-filter>

    <div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-4 sm:space-x-0 w-full mt-5">
      <div class="col-span-2 text-left pb-[5px] mr-2 flex items-center">
        <span>Number of Records: {{ dataTable.length || 0 }} Records</span>
      </div>
      <div class="col-span-2 self-end text-right pb-[0.5rem]">
        <p-button class="mr-2" label="Update Status" severity="success" (onClick)="onUpdateStatus()">
          <i class="fa-sharp fa-solid fa-plus mr-3"></i>
        </p-button>
        <p-button label="Add Item" severity="primary" (onClick)="onOpenDialog()">
          <i class="fa-sharp fa-solid fa-plus mr-3"></i>
        </p-button>
      </div>
    </div>

    <div class="grid grid-cols-1 mt-3">
      <div class="standard-table">
        <p-table [value]="dataTable" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 20]" [(selection)]="selectedTask" dataKey="_id">
          <ng-template pTemplate="header">
            <tr>
              <th>
                <p-tableHeaderCheckbox ></p-tableHeaderCheckbox>
              </th>
              <th>No</th>
              <th>Task Code</th>
              <th>Title</th>
              <th>Description</th>
              <th>Due Date</th>
              <th>Status</th>
              <th>Priority</th>
              <th>Created Date</th>
              <th>Updated Date</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
            <tr>
              <td class="text-center">
                <p-tableCheckbox binary="true" [value]="data" [disabled]="data.status === 'Completed'" (click)="onSelectRow()"></p-tableCheckbox>
              </td>
              <td class="text-center">{{ rowIndex + 1 }}</td>
              <td class="text-center">{{ data._id }}</td>
              <td>{{ data.title }}</td>
              <td>{{ data.description }}</td>
              <td class="text-center">{{ data.dueDate | date: 'dd-MM-yyyy'  }}</td>
              <td class="text-center">{{ data.status }}</td>
              <td class="text-center {{data.color}}">{{ data.priority }}</td>
              <td class="text-center">{{ data.createdDate | date: 'dd-MM-yyyy' }}</td>
              <td class="text-center">{{ data.updatedDate | date: 'dd-MM-yyyy' }}</td>
              <td class="text-center">
                <i *ngIf="data.status !== 'Completed'" class="pi pi-pencil mr-2" (click)="onEdit(data)"></i>
                <i class="pi pi-trash text-error" (click)="onDelete(data._id)"></i>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  </div>
</div>

<app-task-list-dialog [isShowDialog]="isShowDialog" [datas]="defaultData" (onComplete)="onComplete($event)"></app-task-list-dialog>
